* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
.box-1 {
  background-color: #fd4444;
  padding: 10px;
  flex: 10%;
  height: 60px;
}
.box-2 {
  background-color: #dbfd60;
  padding: 10px;
  flex: 50%;
  height: 60px;
}
.box-3 {
  background-color: #61fa61;
  padding: 10px;
  flex: 50%;
  height: 60px;
}
.box-4 {
  background-color: #3337ff;
  padding: 10px;
  flex: 33.33%;
  height: 60px;
}
.box-5 {
  background-color: #a948f8;
  padding: 10px;
  flex: 33.33%;
  height: 60px;
}
.box-6 {
  background-color: #f56ac7;
  padding: 10px;
  flex: 33.33%;
  height: 60px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 720px) {
  .flex-item-right,
  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6 .flex-item-left {
    flex: 100%;
  }
}
